DATABASE_URL=jdbc:postgresql://postgres:5432/typetype
DATABASE_USER=typetype
DATABASE_PASSWORD=typetype

DRAGONFLY_URL=redis://dragonfly:6379
DOWNLOADER_SERVICE_URL=http://typetype-downloader:18093

ALLOWED_ORIGINS=http://localhost:5173
